#
# Amazon driver updates configuration
#

config AMAZON_DRIVER_UPDATES
	bool "Amazon Driver Updates"
	default y
	depends on PCI || EXPERIMENTAL
	help
	 Amazon driver updates includes out-of-tree drivers and/or modifeid
	 versions of the drivers present in the stable kernel tree.

if AMAZON_DRIVER_UPDATES

config AMAZON_ENA_ETHERNET
	tristate "Elastic Network Adapter (ENA) support"
	depends on PCI_MSI && !ENA_ETHERNET
	help
	  This driver supports Elastic Network Adapter (ENA)

	  To compile this driver as a module, choose M here.
	  The module will be called ena.

config AMAZON_EFA_INFINIBAND
	tristate "Elastic Fabric Adapter (EFA) support"
	depends on INFINIBAND_USER_ACCESS && AMAZON_ENA_ETHERNET
	help
	  This driver support Elastic Fabric Adapter (EFA)

	  To compile this driver as a module, choose M here.
	  The module will be called efa

config AMAZON_IGB_UIO
	tristate "DPDK igb_uio driver"
	help
	  This is the direct PCI access driver for igb and
	  other PCI network devices, for DPDK.

	  To compile this driver as a module, choose M here.
	  The module will be called igb_uio.

config AMAZON_SCSI_SMARTPQI
	tristate "Microsemi PQI Driver"
	depends on PCI && SCSI && !S390
	select SCSI_SAS_ATTRS
	select RAID_ATTRS
	help
	This driver supports Microsemi PQI controllers.

	<http://www.microsemi.com>

	To compile this driver as a module, choose M here: the
	module will be called smartpqi.

        Note: the aacraid driver will not manage a smartpqi
              controller. You need to enable smartpqi for smartpqi
              controllers. For more information, please see
              Documentation/scsi/smartpqi.rst

endif # AMAZON_DRIVER_UPDATES
